<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen and (min-width: 320px)  and (max-width:1000px)" href="../css/mobile/basket.css">
    <link rel="stylesheet" media="screen and (min-width: 1001px) " href="../css/desktop/basket.css">
    <title>Basketball Court</title>
</head>
<body>
    <h1>Basketball Courts</h1>
    <p>There is a good maintained basket ball court. </p>
    <img src="../img/i.jpg" alt="my img">
        <img src="../img/y.jpg" alt="my img">
        <img src="../img/u].jpg" alt="my img">
        <img src="../img/q.jpg" alt="my img">
</body>
</html>