<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Events</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen and (min-width: 320px)  and (max-width:1000px)" href="../css/mobile/page4.css">
    <link rel="stylesheet" media="screen and (min-width: 1001px) " href="../css/desktop/page4.css">                 
</head>
<body>
    <section id="page-3">
    <header >
    <h1 class="a">Events</h1><br>
    <p>Almost all the festivals and events are celebrated here with lots of affection and joy! Here are few glimpse of the events and festivals we have been celebrating - </p>
    </header>
    <div class="container">
        <div class="box">
          <h2>Independence Day</h2>
          <img src="../img/3.jpg" alt="my image">
        </div>
        <div class="box">
          <h2>Republic Day</h2>
          <img src="../img/1.jpg" alt="my image">
        </div>
        <div class="box">
          <h2>New Year Day celebration</h2>
          <img src="../img/10.jpeg" alt="my image">
        </div>
        <div class="box">
          <h2>Ganesh Chaturthi</h2>
          <img src="../img/11.jpg" alt="my image">
        </div>
        </div>
       <div class="btns">
          <a href="./page2.html" class="btn">Prev Page</a>
        <a href="./page4.html" class="btn">Next Page</a>
       </div>
    </section>
</body>
</html>